<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_HR_Management.Properties.Settings.HR_MDBConnectionString" connectionString="Data Source=.;Catalog=HRM_DB;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Project_HR_Management.Properties.Settings.HRM_DBConnectionString" connectionString="Data Source=.;Catalog=HRM_DB;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Project_HR_Management.Properties.Settings.HR_MDBConnectionString1" connectionString="Data Source=.;Initial Catalog=HR_MDB;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="HR_MDBEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HR_MDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>